html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: white;
  overflow: auto;
  line-height: 1.4rem;
}
.container{
  margin: 0;
  padding-top: 1rem;
  width: 100%;
  height:100%;
  border: 4px solid black;
  box-sizing: border-box;
}
.intro{
  width: 65%;
  margin: 0 auto;
  text-align: left;
  h1{
    text-align: center;
  }
}
.pac-container{
  top: 210px !important;
}
.pac-container:after{
  background-image: none !important;
  height: 0;
}
.pac-icon{
  display: none;
}
.logo-holder{
  width: 100%;
  text-align: center;
}
.location-form{
  display: none;
  width: 100%;
  margin: 3rem auto 0 auto;
  text-align: center;
}
input[type="text"]{
  width: 80%;
  margin: auto;
  bottom: 0;
  display: block;
  margin-bottom: 1rem;
}
h2{
  line-height: 2rem;
}
@media screen and (min-width: 42rem){
  .description{
    width: 60%;
    margin: auto;
  }
  .location-form, .pac-container{
    width: 30rem !important;
  }
}
